<br>
<center>
<% if current_user %>
  Hi, <%= current_user.name %>
  <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
  <%= link_to('修改密碼', edit_registration_path(:user)) %>
<% else %>
  <%= link_to('註冊', new_registration_path(:user)) %> |
  <%= link_to('登入', new_session_path(:user)) %>
<% end %>
</center>
<div class="container-fuild">
    <div class="row">
        <div class="col-md-6 col-sm-12">
          <% if current_user %>
           <center>
              <% @tasks.each do |task| %>
                <div style="background-color: #ffcc99;width:100%;">
                  <h3 style="line-height:40px;">
                    <i class="fa fa-bookmark" aria-hidden="true">
                    </i>
                    <%= task.name %>
                  </h3>
                  <h4><%= link_to 'Show Detail', check_pwd_path(task) %>
                  </h4>
                </div>
                <% end %>
            </center>
          <% end %>
        </div>
    </div>
    <!-- /.row -->
</div>

<!-- /.container -->
