<p id="notice"><%= notice %></p>

<p>
  <strong>任務名稱:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>任務人數:</strong>
  <%= @task.people_num %>
</p>

<p>
  <strong>地點:</strong>
  <%= @task.location %>
</p>

<p>
  <strong>任務內容:</strong>
  <%= @task.description %>
</p>
<p>
  <strong>完成方式:</strong>
  <%= @task.finish_way %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user.name %>
</p>
<%= image_tag(@task.landmark) %>
<%= image_tag(@task.pwd_image) %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', :root %>
