<!DOCTYPE html>
<html class="full">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rpg" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rpg" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <center>
        <h3 class="text effect01">
          <i class="fa fa-camera-retro" aria-hidden="true"></i>整個城市都是我的回憶錄
        </h3>
      </center>

    </header>
    <main role="main">
       <%= yield %>
    </main>
  </body>
</html>
